@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }

  .montecarlo-regular {
    font-family: "MonteCarlo", serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-size: 25px;
  }

  :root {
    --mainColor: #242325;
    --mainColorLight: #816198;
    --secondaryColor: #B093C6;
    --textColor: #eee;
    --backgroundViolet: #3a2c48;
  }
  /* 
    * HEADER/NAVBAR STYLES
    */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 2rem;
    position: fixed;
    z-index: 1;
  }

  nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    padding: 5px 10px;
    text-decoration: underline;
  }

  nav a:hover {
    transition: background-color 1s;
    border-radius: 5%;
    color: var(--secondaryColor);
    background-color: var(--mainColorLight);
    border-color: var(--mainColorLight);
    text-decoration: none;
    cursor: pointer;
  }

  header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 1400px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0.5s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
  }

  /*
  * NAVBAR GRADIENT ANIMATION
  */

  .gradient-background {
    background: linear-gradient(300deg, #3a2c48, #3a2c49, #B093C6);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  .dark-gradient-background {
    background: linear-gradient(300deg, #242324, #141414, #4c4957);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   /* 
    * SPLASH PAGE STYLES
    */
  .dark-parchment {
    width: 100vw;
    height: 100vh;
    position: relative;   
    
  }

  .splash-outer-container {
  }

  .splash-inner-container {
    background-image: url("../images/Dark Textured Parchment Background.png");
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }

  #flower-lineart {
    max-height: 80vh;
    max-width: 100%;
    height: auto;
    width: auto;
    }

  #olivia-img-1 {
    max-height: 45vh;
    max-width: 100%;
    border: 3px solid white;
    border-radius: 50%;
    margin: 1vw;
    height: auto;
    width: auto;
  }

  .splash-title {
    font-family: "MonteCarlo", serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
  }

  #splash-h1 {
    font-size: 120px;
  }

  @media screen and (max-width: 1650px)
  {
    #splash-h1 {
      font-size: 70px;
    }

    .splash-title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .splash-inner-container {
      display: block;
      position: relative
    }

    #olivia-img-1 {
      display: none;
    }

    #flower-lineart {
      margin-top: 200px;
      max-height: 60vh;
    }

    .splash-title{
      margin-top: -320px;
      margin-right: 30px;
      text-align: right;
    }

    #splash-h1 {
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 600px) {
    #splash-h1 {
      font-size: 50px;
    }
  }



/*
 * ABOUT SECTION STYLES
 */
.about-section {
  background-color: var(--backgroundViolet);
  height: 100vh;
  width: 100wh;
  margin-top: 0;
  color: white;
  display: flex;
}
 .about-outer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 90px;
 }

 #olivia-img-2 {
  max-height: 45vh;
  border: 3px solid white;
  border-radius: 50%;
  margin: 1vw;
  justify-self: center;
    max-width: 45vw;
    border: 3px solid white;
    border-radius: 50%;
    height: auto;
    width: auto;
}

.section-title {
  font-size: 100px;
  font-weight: 900px;
  font-family: "MonteCarlo", serif;
  font-weight: 100;
}

#about-small-screen {
  display: none;
}

.section-subtitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;

}

.section-description {
  font-size: 25px;
  margin-bottom: 12px;
}

.about-inner-container-text {
  margin-left: 5%;
}

.about-inner-container-imgs {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  justify-content: center;
}
.about-icons {
  width: 40px;
  height: 40px;

}

.social-media-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  background-color: transparent;
  color: white;

  border: none;
  box-shadow: 12px 12px 16px 0 #241b2e, -12px -12px 15px 0 #453952, inset 0 0 0 0 transparent;
  transition: box-shadow 200ms, transform 300ms cubic-bezier(.2, 2, 1, 1);
}

.social-media-btn:hover {
  color: #b39cc2;
}

.social-media-btn:active {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 8px 8px 12px 0px var(--secondaryColor), inset -8px -8px 12px 0px powderblue;
  transform: scale(.9);
}

#about-icon-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px)
{
  .section-subtitle {
    margin-top: 20px;
    text-align: center;
  }

  .about-outer-container {
    display: block; 
  }

  .about-inner-container-text {
    margin-left: 0;
  }

  #about-small-screen {
    display: block;
    text-align: center;
  }

  #about-large-screen {
    display: none;
  }

  .about-section {
    height: 140vh;
  }
}

  /*
   * SKILL SECTION STYLES
   */
   .skills-section {
    background-color: var(--backgroundViolet);
    color: white;
    height: 100vh;
    text-align: center;
   }
   #skill-instruction {
    margin-bottom: 50px;
   }
   .container-icons{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    place-self: center;
   }
   .skills-title {
    text-align: center;
   }
   i {
    font-size: 100px;
   }

   i:hover {
    color: #b39cc2;
    cursor: pointer;
   }

   @media screen and (max-width: 800px)
   {
      i {
        font-size: 50px;
      }
      .i-vr {
        height: 50px;
        width: 50px;
      }

      .container-icons {
        width: 75%;
      }
   }